<div class="container mt-5" *ngIf="producto">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <img [src]="producto.img" class="img-fluid rounded-start" [alt]="producto.nombre">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title display-4 mb-4">{{ producto.nombre }}</h1>
                    <div class="d-flex align-items-center mb-4">
                        <span class="h3 text-primary me-2">${{ producto.precio | number }}</span>
                        <span class="badge bg-success">Disponible</span>
                    </div>

                    <hr class="my-4">

                    <div class="d-grid gap-2 d-md-block">
                        <!-- back -->
                        <button class="btn btn-outline-secondary" (click)="back()">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>